body {
  margin: 20px;
}

/* float */
/* float */
.wrapper {
  background-color: #ffc;
  width: 500px;
  margin: 20px 0;
  height: 100px;

  div {
    border: 1px solid currentColor;
    height: 100px;
    margin: 10px;
  }

  .box1 {
    background-color: orangered;
    float: left;
  }

  .box2 {
    background-color: lightgreen;
    float: left;
  }

  .box3 {
    background-color: pink;
    float: right;
  }

  .box4 {
    background-color: aqua;
    float: right;
  }
}

.container {
  background-color: silver;
}
