body {
  margin: 20px;
}

h1,
.control {
  margin-block: 16px;
}

.post {
  box-shadow: 0 0 0 5px currentColor;
  container-type: inline-size;
  inline-size: 300px;
}

.card {
  background: #ffc;
  padding: 20px;

  h2 {
    color: red;
  }

  @container (width>=400px) {
    background: #fcf;

    h2 {
      color: green;
    }
  }
}

.wrapper {
  box-shadow: 0 0 0 5px currentColor;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .cell {
    container-type: inline-size;
  }
}
