body {
  margin: 20px;
}
/* 컴포넌트 */
/* .term {
  background-color: #ffc;

  .subject {
    padding-left: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #296897;
    overflow: hidden;
  }
  .thumbnail {
    float: left;
    padding: 0 20px 0 20px;
  }

  .description {
    font-size: 14px;
    overflow: hidden;
    width: 150px;
  }
} */

.term {
  background-color: #ffc;
  display: flow-root;
  width: 218px;

  .subject {
    font-size: 14px;
    font-weight: 600;
    color: #296897;
    background-color: pink;
    float: right;
    width: calc(100% - 76px);
    /* width: 142px;  1번*/
  }

  .thumbnail {
    background-color: lime;
    float: left;
  }

  .description {
    font-size: 14px;
    background-color: aqua;
    float: right;
    width: calc(100% - 76px);
    margin-top: 10px;
    /* float: right;
    width: calc(100% - 76px); 이거 없을경우 플로프가 발동이 안됨 */
  }
}

/* 선생님 코드 */

/* 컴포넌트 */
/* .term {
  --accent-color: #296897;

  background: #ffc;
  display: flow-root;
  font-size: 14px;

  .subject {
    font-weight: 600;
    color: var(--accent-color);
  }

  .subject,
  .description {
    float: right;
    width: calc(100% - 76px);
  }

  .thumbnail {
    float: left;
    margin-right: 16px;
  }

  .description {
    margin-top: 10px;
  }
} */

/* 선생님 코드 2 */

/* 컴포넌트 */

/* .term {
  --accent-color: #296897;
  --text-size: 14px;
  /* --text-size: 1rem; */

/* background: #ffc;
  display: flow-root;
  font-size: var(--text-size);

  .subject {
    font-weight: 600;
    color: var(--accent-color);
    font-size: 1.5em;
  }

  .subject,
  .description {
    float: right;
    width: calc(100% - 76px);
  }

  .thumbnail {
    float: left;
    margin-right: 16px;
  }

  .description {
    margin-top: 10px;
    font-size: 1em;
  }
} */
/* 레이아웃 */

.terms {
  --gray-700: #7a7a7a;
  --gray-600: #cccccc;
  --gray-500: #eeeeee;
  --spacing: 1rem;

  background: var(--gray-600) linear-gradient(var(--gray-600), var(--gray-500));
  border: 1px solid var(--gray-700);
  border-radius: 10px;
  padding: var(--spacing);

  .headline {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: var(--spacing);
  }

  .term {
    margin-top: calc(var(--spacing) - 4px);
  }
  /* div:nth-child(odd)홀수 (even)짝수 */
  /* div:nth-child(2n + 2) 2개씩 */
  & div:nth-child(3) {
    background: pink;

    .subject,
    .description {
      float: left;
    }

    .thumbnail {
      float: right;
    }
  }
}
